@media screen and (max-width: 767px) {
    .header{
        width:300px;
    }
    .left{
        width:100px;
    }
    .right-top-left{
        width:125px;
    }
    .right-top-right{
        width:75px;
    }
    .right-botom{
        width:200px;
    }
    .bottom{
        width:300px;
    }
}

@media screen and (max-width: 479px){
    #wrapper{
        width:150px;
    }
    .main{
        float:none;
    }
    .right-tops{
        float:none;
    }
}